doctype html

html
  head
    title JavaScript
    link(rel='stylesheet' href='styles.css')
  body#page(onload='load' onunload='unload')
    #mouse-box
    form#form
      label Name
      input()
      label Dropdown
      select#form-elem
        option(value='1') One
        option(value='2') Two
        option(value='3') Three
    script(src='eventListeners.js')
